@charset 'UTF-8';
/* CSS Document */
.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
		margin:0 auto;
}
footer{
	margin-top:50px;
}
.ttl-h201{
	font-weight:700;
	position:relative;
	padding-bottom:10px;
}
.ttl-h201::before {
			bottom: 0;
			content: "";
			display: block;
			height: 2px;
			left:0;
			width:50%;
			margin: 0 auto;
			position: absolute;
			background: #292929;
	}

	.ttl-h201::after {
			bottom: -2px;
			content: "";
			display: block;
			height: 2px;
			left:20%;
			width:80%;
			margin: 0 auto;
			position: absolute;
			background: #e5dd01;
	}

/*service-info*/
.block-List-service{
	margin-top: 40px;
}
.block-List-service > div {
    padding: 0;
}
/*block-Service*/
.block-Service{
	position: relative;	
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-align: left;
    transition: all 0.5s ease 0s;
    position: relative;
    padding-bottom: 80px;
    background-color: #fff;
    margin-bottom: 30px;
		height:395px;
}
.block-Service:hover {
    border-color: rgba(238, 231, 19, 0.7) ;
    box-shadow: none;
}
.img-service{
	overflow: hidden;
	cursor: pointer;
}
.block-Service .img-service img {
    transition: all 0.5s ease-out 0s;
    width: 100%;
}
.block-Service:hover .img-service img {
	transform: scale(1.2,1.2);
}

.block-Service .over {
    background: rgba(0, 0, 0, 0.2) ;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
.txt-name{
	font-size: 15px;
	font-weight: bold;
	color: #626262;
}
.txt-price{
	font-weight: bold;
	font-size: 16px;
	color: #d84315;
	margin: 15px 0;
	position: absolute;
	bottom: 40px;
}
.btn-more{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 999;
}
.btn-more a{
	display: block;
	background:#eee713;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
}



@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
	
	#Subvisual h2{
		top:60%;
		left:10%;
	}
	#Subvisual h2 img{
		max-width:400px;
	}
	
}

@media screen and (max-width : 767px) {
	#Subvisual h2{
		top:65%;
		text-align:center;
		left:0;
		width:100%;
	}
	#Subvisual h2 img{
		max-width:300px;
	}
	.block-Service{
		padding-bottom:40px;
        
	}
	.txt-price{
		position:relative;
		bottom:auto;
	}
	
}

@media screen and (max-width : 639px) {
    .block-Service{
        height:auto !important;
		padding-bottom:40px;
        
	}
	.block-List-service .col-xs-6{
		float: none;
		width: 100%;
	}
		
}
@media screen and (max-width : 639px) {
	#Subvisual h2{
		top:70%;
	}
}

@media screen and (max-width : 479px) {
	#Subvisual h2{
		top:75%;
	}
	#Subvisual h2 img{
		max-width:280px;
	}
}
